.container {
  margin: 20px auto; /* Centraliza o contêiner */
  max-width: 1000px; /* Largura máxima */
  padding: 20px; /* Espaçamento interno */
  background-color: #fff; /* Cor de fundo */
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.row {
  display: flex; /* Flexbox para layout em linha */
}

.p-tree {
  margin-bottom: 20px; /* Espaço abaixo da árvore */
}

.selected-row {
  background-color: #e0f7fa; /* Cor de fundo para a linha selecionada */
  color: #00796b; /* Cor do texto da linha selecionada */
}

.p-table {
  width: 100%; /* Ocupa toda a largura */
  margin-top: 20px; /* Espaçamento superior */
}

.p-table thead th {
  background-color: #f0f0f0; /* Cor de fundo para cabeçalhos */
  text-align: left; /* Alinhamento à esquerda */
  padding: 10px; /* Espaçamento interno */
  border-bottom: 2px solid #ddd; /* Borda inferior para cabeçalhos */
}

.p-table td {
  padding: 10px; /* Espaçamento interno das células */
  border-bottom: 1px solid #ddd; /* Borda inferior */
}

.p-table tbody tr:hover {
  background-color: #f9f9f9; /* Cor de fundo ao passar o mouse */
}

.error-message {
  color: red; /* Cor para mensagens de erro */
}

/* Estilos adicionais para a árvore */
.p-tree .pi-chevron-right,
.p-tree .pi-chevron-down {
  transition: transform 0.3s ease-in-out; /* Transição suave para ícones */
}

.p-tree .pi-chevron-right:hover,
.p-tree .pi-chevron-down:hover {
  transform: scale(1.2); /* Efeito de escala ao passar o mouse */
}

.p-tree-custom {
  max-height: 500px; /* Limita a altura do componente */
  overflow-y: auto; /* Adiciona rolagem vertical */
  border: 1px solid #ddd; /* Borda ao redor */
  border-radius: 4px; /* Cantos arredondados */
  background-color: #f9f9f9; /* Cor de fundo leve */
}

.p-treenode-content {
  padding: 8px; /* Preenchimento interno dos nós */
  transition: background-color 0.2s; /* Transição suave para a cor de fundo */
}

.p-treenode-content:hover {
  background-color: #e0e0e0; /* Cor ao passar o mouse */
}

.p-tree .node-content.selected {
  background-color: red !important; /* Cor para nós selecionados */
  color: white !important; /* Cor do texto para contraste */
}

.col-md-8 {
  margin-top: 20px;
  margin-left: 20px;
}

