<div class="container">
  <p-menubar [model]="items"></p-menubar>
  <input type="file" id="fileInput" (change)="uploadFile($event)" style="display: none;" accept=".zip" />
  
  <div *ngIf="uploadError" class="error-message">
    <p>{{ uploadError }}</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h1><strong>Relatório</strong></h1>
      <p>Página para criação e atualização de relatórios</p>
      <hr />

      <h3>Diretórios</h3>
      <p-tree 
      [value]="files" 
      selectionMode="single" 
      [(selection)]="selectedFile" 
      (onNodeSelect)="onNodeSelect($event)"
      class="w-full">
    </p-tree>
    </div>

    <div class="col-md-8">
      <h3>Arquivos na Pasta: {{ selectedDirectory }}</h3>
      <div class="p-grid">
        <div class="p-col-12" *ngFor="let file of filesInDirectory">
          <button 
            pButton 
            label="{{ file.name }}" 
            class="file-button" 
            (click)="openReportDialog(file)">
          </button>
        </div>
      </div>
      <div *ngIf="filesInDirectory.length === 0">
        <p>Nenhum arquivo encontrado nesta pasta.</p>
      </div>
    </div>
  </div>

  <p-dialog header="Gerar Relatório" [(visible)]="displayModal" [modal]="true">
    <app-GerarRelatorio [jsonData]="selectedJsonData"></app-GerarRelatorio>
  </p-dialog>
</div>
