<div class="container">
 <div class="menu"> <p-menubar [model]="items"></p-menubar>
  <input type="file" id="fileInput" (change)="uploadFile($event)" style="display: none;" accept=".zip" />
</div>
  <div *ngIf="uploadError" class="error-message">
    <p>{{ uploadError }}</p>
  </div>

  <div class="row">
    <div class="col-md-4">
   
      <p-tree
      [value]="files"
      selectionMode="single"
      [(selection)]="selectedFile"
      (onNodeSelect)="onNodeSelect($event)"
      (onNodeExpand)="onNodeExpand($event)" 
      class="w-full p-tree-custom"
      [style]="{'max-height': '500px', 'overflow-y': 'auto'}">
    </p-tree>
    
    </div>

    <div class="col-md-8">
      <div class="directory-list">
        <ul class="file-list">
          <li *ngFor="let file of filesInDirectory" (click)="openReportDialog(file)" class="file-item">
            <i class="pi pi-folder" style="margin-right: 8px;"></i> 
            {{ file.name }}
            <span class="file-date">{{ file.modifiedDate }}</span>
            <span class="file-type">{{ file.type }}</span> 
            <span class="file-size">{{ file.size }}</span> 
          </li>
        </ul>
      </div>
    
      <div *ngIf="filesInDirectory.length === 0">
        <p>Nenhum arquivo encontrado nesta pasta.</p>
      </div>
    </div>

  <p-dialog header="Gerar Relatório" [(visible)]="displayModal" [modal]="true">
    <app-GerarRelatorio [jsonData]="selectedJsonData"></app-GerarRelatorio>
  </p-dialog>
</div>
