.container {
  margin: 20px auto;
  max-width: 1000px; 
  padding: 20px; 
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.336);
}

.row {
  display: flex; 
}

.p-tree {
  margin-bottom: 20px; 
}

.p-table {
  width: 100%; 
  margin-top: 20px; 
}

.p-table thead th {
  background-color: #f0f0f0; 
  text-align: left; 
  padding: 10px; 
  border-bottom: 2px solid #ddd; 
}

.p-table td {
  padding: 10px; 
  border-bottom: 1px solid #ddd; 
}

.p-table tbody tr:hover {
  background-color: #f9f9f9; 
}

.error-message {
  color: red; 
}

.p-tree .pi-chevron-right,
.p-tree .pi-chevron-down {
  transition: transform 0.3s ease-in-out;
}

.p-tree .pi-chevron-right:hover,
.p-tree .pi-chevron-down:hover {
  transform: scale(1.2); 
  color: white;
}

.col-md-8 {
  margin-top: 20px;
  margin-left: 20px;
}

:host ::ng-deep .p-tree .node-content {
  background-color: red; 
  color: white; 
}

:host ::ng-deep .p-treenode-content:hover {
  background-color: #f54235 !important; 
  color: white !important;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #f9f9f9; 
  color: #333; 
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f54235; 
  color: white;
  cursor: pointer;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr.selected {
  background-color: red; 
  color: white; 
}

:host ::ng-deep .p-treenode-content.selected {
  background-color: red !important; /* Cor de fundo ao selecionar */
  color: white !important; /* Cor do texto ao selecionar */
}
