.form-container {
  padding: 20px; 
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.p-col-6 {
  flex: 0 0 48%; 
  max-width: 48%;
}

.p-field {
  margin-bottom: 10px; 
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons-group {
  display: flex;
  gap: 10px;
}

.button-red {
  background-color: #f44336;
  color: white;
  border: none;
  padding-right: 50px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-red:hover {
  background-color: #d32f2f;
}

.calendar-input {
  width: 100%; 
}

.p-calendar {
  z-index: 1000; 
}

:host ::ng-deep .p-datepicker {
  border: none; 
  color: rgb(0, 0, 0); 
}

:host ::ng-deep .p-button {
  background-color: #f44336; 
  color: white; 
}

:host ::ng-deep .p-button:hover {
  background-color: #a83028; 
}

@media (max-width: 800px) {
  .p-calendar {
    display: none; 
  }

  .calendar-icon {
    display: block; 
  }
}

@media (min-width: 801px) {
  .p-calendar {
    display: block; 
  }
}
