.form-container {
  padding: 20px; 
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajuste para mais espaço entre os campos */
}

.p-col-6 {
  flex: 0 0 48%; /* Ajusta a largura das colunas */
  max-width: 48%;
}

.p-field {
  margin-bottom: 10px; /* Ajuste para mais espaço entre os campos */
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons-group {
  display: flex;
  gap: 10px;
}

.button-red {
  background-color: #f44336;
  color: white;
  border: none;
padding-right: 50px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-red:hover {
  background-color: #d32f2f;
}

/* Estilos para o calendário */
.calendar-input {
  width: 100%; /* Faz o calendário ocupar a largura total */
}

.p-calendar {
  z-index: 1000; /* Para garantir que o calendário apareça acima de outros elementos */
}

/* Estilo do calendário e botões */
:host ::ng-deep .p-datepicker {
  border: none; /* Remove a borda padrão */
  color: rgb(0, 0, 0); /* Cor do texto */
}

:host ::ng-deep .p-button {
  background-color: #f44336; /* Cor de fundo vermelha para os outros botões */
  color: white; /* Cor do texto */
}

:host ::ng-deep .p-button:hover {
  background-color: #a83028; /* Cor ao passar o mouse */
}

/* Media Queries */
@media (max-width: 800px) {
  .p-calendar {
    display: none; /* Oculta o calendário */
  }

  /* Estilo alternativo ou para mostrar apenas o ícone */
  .calendar-icon {
    display: block; /* Mostra apenas o ícone do calendário */
  }
}

@media (min-width: 801px) {
  .p-calendar {
    display: block; /* Mostra o calendário */
  }
}
