<div class="container">
  <h2>Diretórios e Arquivos Disponíveis</h2>

  <!-- Exibe a árvore de diretórios e arquivos -->
  <p-tree [value]="files" selectionMode="single" (onNodeSelect)="nodeSelect($event)"></p-tree>

  <button (click)="novaPasta()">+ Nova Pasta</button>
  <button (click)="excluirPasta()">✖ Excluir</button>
  
  <!-- Botão para carregar arquivos -->
  <label for="fileUpload" class="menu-button" style="cursor:pointer;">
    📂 Carregar novo relatório
  </label>
  <input type="file" id="fileUpload" style="display:none" (change)="carregarRelatorio($event)" />
</div>
