<p-dialog header="Criar Nova Pasta" [(visible)]="display" [modal]="true" [style]="{'width': '300px'}">
  <div>
    <label for="folderName">Nome da Pasta:</label>
    <input type="text" id="folderName" [(ngModel)]="folderName" pInputText placeholder="Digite o nome da pasta" />
  </div>
  <div class="dialog-footer">
    <button type="button" pButton label="Criar" icon="pi pi-check" (click)="createNewFolder()"></button>
    <button type="button" pButton label="Cancelar" icon="pi pi-times" (click)="closeDialog()"></button>
  </div>
</p-dialog>
